.card{

    color: white;
    height: 400px;
    width: 500px;
    padding: 20px;
    transition: transform 100ms ease-in;
}

.card > img {
    height: 300px;
    width: 500px;
    object-fit: contain;
}

.card > img:hover {
    transform: scale(1.09);
}