.card{

    color: white;
    height: 300px;
    width: 400px;
    padding: 20px;
    transition: transform 100ms ease-out;
}

.card > img {
    height: 200px;
    width: 400px;
    object-fit: contain;
}

.card > img:hover {
    transform: scale(1.09);
}

.card__stats {
    display: none;
}

.card:hover > .card__stats {
    display: inline;
}

.card__info{
    margin-left: 20px;
    font-weight: 400;
}
.card__info > h2 {
    font-size: 20px;
    font-weight: 400;
} 

.card > p {
    font-size: 12px;
}

