.header {
    display: flex;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.header > img {
    object-fit: contain;
    height: 40px;
}


.header__left {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__icon  {
    margin: 10px 25px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    flex-direction: column;
} 

.header__icon > p {
    text-transform: uppercase;
    letter-spacing: 3px;
    display: none;
}

.header__icon:hover > p{
    display: inline;
}