.results {
    background-image: linear-gradient(to right,#051421,#042727);
    overflow-x: scroll;
}

/* Hide Scrollbar for Chrome,safari,opera */
.results::-webkit-scrollbar {
    display: none;
}

.results{
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none; /*Firefox*/
}


.results {
    display: flex;
    justify-content: space-between;
}
